@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
}

.close {
    display: none;
}

body {
    background-color: black;
    color: white;

}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

/* .home{
   
} */
.home ul li {
    display: flex;
    list-style: none;
    width: 14px;
    gap: 15px;
    padding-top: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.heading {
    display: flex;
    gap: 15px;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 80vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0px;
}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);

}

.header>* {
    padding: 20px;
}

.spotifyplaylists {
    padding: 16px;
    /* width: 250px; */
}

.spotifyplaylists h1 {
    padding: 16px;

}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}

.card {
    width: 200px;
    padding: 10px;
    background-color: #252525;
    border-radius: 5px;
    position: relative;
    transition: all .5s;
}

.card:hover {
    background-color: rgb(73, 73, 73);
    cursor: pointer;
    --a: 1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #00FF00;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    opacity: var(--a);
    /* transition: all 1s ease-out; */
}

.buttons>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34 34 34);
    color: rgb(105, 102, 102);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 1.1rem;
    color: white;
    font-size: 17px;
}

.loginbtn {
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 10px;
    cursor: pointer;
    width: 79px;
    border: none;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    position: fixed;
    bottom: 20px;
    filter: invert(1);
    background: #dad5d5;
    border-radius: 10px;
    width: 70vw;
    padding: 12px;
    min-height: 40px;

}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songList {
    /* its 544px */
    height: 344px;
    overflow: auto;
    /* its 44px */
    margin-bottom: 44px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;

}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.info div {
    word-break: break-all;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 15px;
    width: 64px;
    padding: 12px;
}

.seekbar {
    height: 4px;
    width: 97%;
    /* was 98 */
    background: black;
    border-radius: 3px;
    position: absolute;
    bottom: 5px;
    margin: 6px;
    cursor: pointer;


}

.circle {
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5;
}

.songbuttons img {
    cursor: pointer;
}

.timevol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.songinfo {
    color: black;
    padding: 0 12px;
    width: 250px;
}

.songtime {
    color: black;
    padding: 0 12px;
    width: 125px;
}

.volume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.range input {
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-around;
    /*  was between */
    margin: 20px 0;
}


@media (max-width: 1200px) {
    .left {

        background-color: black;
        position: absolute;
        left: -130%;
        transition: all .1s;
        z-index: 1;
        width: 373px;
        padding: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
        z-index: 2;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }


    .right {
        width: 100vw;
        margin: 0;
    }

    .playbar {
        width: calc(100vw - 50px);
    }

    .seekbar {
        width: calc(100vw - 90px);
    }

    .hamburger {
        display: block;
    }

    .card {
        width: 44vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
        max-height: 52vh;
        overflow-y: auto;
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }
    .header>*{
        padding: 2px;
    }
    .buttons>*{
        margin: 0 6px;
    }
    .cardContainer{
        max-height: 59vh;
        /* overflow-y: unset; */
    }
    .spotifyplaylists{
        padding: 4px;
    }
    .playbar{
        right: 13px;
    }

}